﻿@model List<Rewards4Racing.Data.Person>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>People Web App</h1>
</div>

<div class="row">
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Country</th>
          <th>Email</th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
              <td>@person.first_name</td>
              <td>@person.last_name</td>
              <td>@person.country</td>
              <td>@person.email</td>
              <td><button data-personid="@person.id" class="deletePerson">Delete</button></td>
            </tr>
        }
      </table>
</div>

<script>
  $(function () {
    $("table").on("click", ".deletePerson", function () {
      var r = confirm("Are you sure you want to delete this person?");
      if (r == true) {
        var personId = $(this).data("personid");
        $.post("/Home/DeletePerson", { "personId": personId }, function (result) {
          location.reload();
        });
      }     
    });
  });
</script>